<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.AdminDAO">
     <insert id="insertAdmin">
         insert into admin
         VALUES(#{adminId},#{adminName},#{password},#{salt})
     </insert>

    <select id="selectByAdminName" resultType="com.baizhi.cmfz.entity.Admin">
        select * from admin
        where adminName=#{adminName}
    </select>
</mapper>
