<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.SlideshowDAO">
    <select id="selectForPage" resultType="com.baizhi.cmfz.entity.Slideshow">
        SELECT * FROM slideshow LIMIT #{start},#{pagesize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from slideshow
    </select>

    <insert id="insertSlideshow">
        INSERT INTO slideshow
        VALUES(#{slideshowId},#{slideshowDec},#{publishTime},#{slideshowImg},#{status})
    </insert>
</mapper>
